/* 
    Templete Name:Nest;
    description:Grocery,ecommercy,html templet;
    author name:Dainel;
    version:1.0;
    
    templet of contents
    =========================================
    1)common

*/
/*  common section start  */
:root {
  --quicksand: "Quicksand", sans-serif;
  --lato: "Lato", sans-serif;
  --white: #ffffff;
  --heading-color: #253d4e;
  --hlt-color: #3bb77e;
  --contact-color: #7e7e7e;
  --num-color: #adadad;
  --point-color: #b6b6b6;
  --border-color: #dedfe2;
  --border-clr:#ececec;
  --light-green: #81b13d;
  --a-color:#FDC040;
  --bx-shadow:#BCE3C9;
  --bg-clr:#DEF9EC;
  --t-clr:#67BCEE;
  --t-clr2:#F59758;
  --t-4s: all linear 0.4s;
}
h1,
h2,
h3,
h4,
h5,
h5,
h6,
p,
span,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}
a,
a:hover {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}
ul {
  list-style-type: none;
}
.form-control:focus,
.form-select:focus,
.btn:focus {
  box-shadow: none;
}

.section_tittle {
  padding: 65px 0 45px 0;
}
.section_tittle h3 {
  font-size: 32px;
  font-family: var(--quicksand);
  font-weight: 700;
  color: var(--heading-color);
  padding: 0 16px 0 0;
}
.section_tittle ul li {
  display: inline-block;
  padding: 0 16px 0 16px;
}
.section_tittle ul li a {
  display: inline-block;
  font-size: 16px;
  font-family: var(--quicksand);
  font-weight: 700;
  color: var(--heading-color);
  padding: 0 0 0 0;
  transition: var(--t-4s);
}
.section_tittle ul li:nth-child(3) a {
  color: var(--hlt-color);
}
.section_tittle ul li:hover > a {
  color: var(--hlt-color);
  transform: translateY(-5px);
}
.slider_icon {
  position: absolute;
  z-index: 1;
  border: 1px solid var(--border-color);
  background: var(--border-color);
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 37px;
  border-radius: 50%;
}
.slider_icon:hover {
  background: var(--hlt-color);
  color: var(--white);
}
/* // common section end  */
/*  top-header section start  */
.top_header {
  border-bottom: 1px solid var(--border-color);
}
.top_left_header {
  padding: 0 0;
}
.top_left_header ul li {
  display: inline-block;
  padding: 10px 20px 10px 0;
  position: relative;
}
.top_left_header ul li::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 1px;
  background-color: var(--border-color);
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
}
.top_left_header ul li:nth-child(3) {
  display: inline-block;
  padding: 10px 20px 10px 0;
  position: relative;
  bottom: 10px;
  right: 0;
}

.top_left_header ul li:last-child::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 1px;
  background: none;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
}
.top_left_header ul li a {
  display: inline-block;
  font-size: 13px;
  font-family: var(--lato);
  color: var(--contact-color);
  width: 50px;
}
.slick_slider {
  font-size: 14px;
  color: var(--contact-color);
  font-family: var(--lato);
}
.top_right_header .dropdown:hover ul.dropdown-menu {
  display: block;
}
.top_right_header > ul > li {
  display: inline-block;
}
.top_right_header ul li span,
.top_right_header ul li a {
  font-size: 13px;
  font-family: var(--lato);
  color: var(--contact-color);
}
.top_right_header > ul > li > span {
  display: inline-block;
  width: 60%;
}
.top_right_header > ul > li > a {
  display: inline-block;
  width: 30%;
}
.top_right_header > ul > li {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
}
.top_right_header > ul > li::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 20px;
  background-color: var(--border-color);
  width: 1px;
  height: 10px;
}
.top_right_header > ul > li:nth-child(2),
.top_right_header > ul > li:nth-child(3) {
  position: relative;
  bottom: 15px;
}
.top_right_header > ul > li:nth-child(2)::after,
.top_right_header > ul > li:nth-child(3)::after {
  bottom: 7px;
}
/* // top-header section end  */
/*  middle  section start  */
.middle_header {
  padding: 32px 0;
  border-bottom: 1px solid var(--border-color);
}
.logo img {
  width: 80%;
}
.form-control,
.form-select {
  border: none;
}
.form-select option {
  font-family: var(--quicksand);
  color: var(--heading-color);
  font-weight: 400;
  font-size: 14px;
}
.search {
  border: 1px solid var(--hlt-color);
  padding: 7px 0;
}
.middle_right_header ul {
  display: flex;
}
.middle_right_header ul li {
  position: relative;
  padding-right: 20px;
}
.middle_right_header ul li a i {
  font-size: 25px;
}
.middle_right_header ul li a span {
  position: absolute;
  border: 1px solid var(--hlt-color);
  background-color: var(--hlt-color);
  color: var(--white);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: -10px;
  left: 14px;
  line-height: 15px;
  text-align: center;
}
.middle_right_header ul li a {
  font-size: 16px;
  font-family: var(--lato);
  color: var(--contact-color);
}
/* // middle    section end  */
/*  nav left section start  */
.navbar_menu {
  width: 100%;
  padding: 25px 0 25px 0;
  border-bottom: 1px solid var(--border-color);
}
.sticky{
  animation: sticky 0.7s;
  position: fixed;
  top: 0;
  height: 180px;
  z-index: 999;
  background-color: var(--white);
}
@keyframes sticky {
  from{
    top: -180px;
  }
  to{
    top: 0px;
  }
}
.nav_left_section .navbar_nav{
  display: flex;
  align-items: center;
  justify-content: center;
}  
.nav_left_section img {
  width: 30px;
  display: inline-block;
}
.nav_left_section ul.dropdown-menu.dropdown_item1{
  width: 473px;
  display: flex;
  flex-wrap: wrap;
}
.nav_left_section ul.dropdown-menu.dropdown_item1 li {
  width: 40%;
  border: 1px solid var(--border-color);
  margin: 20px 20px;
}
.dropdown_item1 {
  opacity: 0;
  visibility: hidden;
}
.show {
  opacity: 1;
  visibility:visible;
}
.nav_left_section { 
  height: 88px;
  width: 234px;
  background-color: var(--hlt-color);
}
.nav_left_section ul.navbar_nav> li > a {
  font-size: 16px;
  color: var(--white);
  font-family: var(--quicksand);
  font-weight: 600;
  background-color: var(--hlt-color);
  padding: 32px 31px;
  display: inline-block;
}
.nav_left_section ul.dropdown-menu.dropdown_item1 li a {
  font-size: 14px;
  color: var(--heading-color);
  font-family: var(--quicksand);
  font-weight: 600;
  display: inline-block;
  transition: all linear 0.5s;
}
.nav_left_section ul.dropdown-menu.dropdown_item1 li:hover > a {
  color: var(--hlt-color);
}
.nav_left_section ul.dropdown-menu.dropdown_item1 li a img {
  margin: 5px 5px 5px 0;
}
/* // nav left section end  */
/*  middle nav section start  */
.navbar_menu .middle_navbar > ul > li {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 0;
}
.middle_navbar .nav_item {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 0 40px;
}
.middle_navbar > ul > li > a {
  display: inline-block;
  font-size: 16px;
  color: var(--heading-color);
  font-family: var(--quicksand);
  font-weight: 700;
}
.middle_navbar > ul > li > ul > li > a {
  display: inline-block;
  font-size: 14px;
  color: var(--contact-color);
  font-family: var(--quicksand);
  font-weight: 600;
}
.middle_navbar > ul > li > ul > li {
  padding: 5px 20px;
}
.middle_navbar > ul > li > ul > li:nth-child(5) {
  width: 200px;
}
.middle_navbar > ul > li:hover ul {
  display: block;
}
.middle_navbar .mega_menu_area {
  position: static;
}
.middle_navbar .mega_menu {
  width: calc(100% - 24px);
  display: none;
}
.middle_navbar .mega_menu_area:hover .mega_menu {
  display: block;
}
.mega_menu.dropdown-menu {
  left: 12px;
}
.middle_navbar .mega_menu_area .mega_menu .col-lg-3 h3 {
  font-family: var(--quicksand);
  font-size: 18px;
  color: var(--hlt-color);
  padding: 10px 0;
  font-weight: 600;
}
.middle_navbar .mega_menu_area .mega_menu .col-lg-3 ul li a {
  display: inline-block;
  font-size: 14px;
  color: var(--contact-color);
  font-family: var(--quicksand);
  font-weight: 600;
  padding: 5px 0;
}
.middle_navbar .mega_menu_area .mega_menu .col-lg-3 .mega_menu_thum {
  margin: 20px 0;
}
.middle_navbar .mega_menu .mega_menu_content {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
}
.middle_navbar .mega_menu .mega_menu_content h4 {
  font-size: 16px;
  color: var(--heading-color);
  padding: 0 0;
}
.middle_navbar .mega_menu .mega_menu_content p {
  font-size: 24px;
  color: var(--heading-color);
  padding: 0 0;
}
.middle_navbar .mega_menu .mega_menu_content span {
  display: block;
  font-size: 16px;
  color: var(--light-green);
  padding: 5px 0;
}
.middle_navbar .mega_menu .mega_menu_content a {
  display: block;
  font-size: 16px;
  color: var(--white);
  padding: 5px 5px;
  background-color: var(--hlt-color);
  border: 1px solid var(--hlt-color);
  border-radius: 20px;
  text-align: center;
}
.middle_navbar ul li > a {
  transition: var(--t-4s);
}
.middle_navbar ul li:hover > a {
  color: var(--hlt-color);
}
.mega_menu_area .mega_menu .col-lg-3 ul li:hover > a {
  color: var(--hlt-color);
}
/* // middle nav section end  */
/*  nav right section start  */

.navbar_menu .nav_right i {
  font-size: 40px;
  display: inline-block;
  padding: 30px 5px;
}
.navbar_menu .nav_right a {
  display: inline-block;
  font-size: 26px;
  color: var(--hlt-color);
  font-family: var(--quicksand);
  font-weight: 700;
  padding: 0 10px;
}
.navbar_menu .nav_right span {
  display: block;
  font-size: 12px;
  font-family: var(--lato);
  color: var(--contact-color);
  margin: 0 10px;
  width: 70px;
}
.navbar_menu {
  border-bottom: 1px solid var(--border-color);
}

/* // nav right section end  */
/*  banner  section start  */
#banner {
  padding: 30px 0 30px 0;
}
.banner_section .banner_wrapper {
  height: 467px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
}
.banner_section .banner_wrapper .banner_content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.arrow_left {
  top: 50%;
  left: 1%;
  z-index: 1;
  transform: translateY(-50%);
}

.arrow_right {
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
}
.banner_section .banner_wrapper .banner_content h1,
.banner_section .banner_wrapper .banner_content h3 {
  font-size: 64px;
  font-family: var(--quicksand);
  color: var(--heading-color);
  font-weight: 700;
  padding: 0 0;
}
.banner_section .banner_wrapper .banner_content h3 {
  padding: 0 0 25px 0;
}
.banner_section .banner_wrapper .banner_content h2 {
  font-size: 30px;
  font-family: var(--lato);
  color: var(--contact-color);
  padding: 0 0 40px 0;
}
.banner_section .banner_wrapper .banner_content .input-group .btn {
  border-radius: 30px;
}
.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.banner_section .banner_wrapper .banner_content .subscribe {
  width: 450px;
}
.banner_section .banner_wrapper .banner_content .input-group .btn {
  background-color: var(--hlt-color);
  color: var(--white);
  padding: 19px 43px;
}
.banner_section .banner_wrapper .banner_content .input-group .form-control {
  border-radius: 30px;
}
.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.banner_section .banner_wrapper .banner_content .input-group {
  background: var(--white);
  border-radius: 30px;
}
.banner_section .banner_wrapper .banner_content .input-group .form-control {
  padding-left: 30px;
}
/* // banner  section end  */
#featured_categories {
    padding-bottom: 60px;
}
#featured_categories .featured_categories_wrapper {
  padding: 0 12px;
}
#featured_categories .featured_categories_content h4 {
  font-size: 16px;
  font-family: var(--quicksand);
  font-weight: 600;
  color: var(--heading-color);
  transition: var(--t-4s);
}
#featured_categories .featured_categories_content:hover h4{
    color: var(--hlt-color);
}
#featured_categories .featured_categories_content p {
  font-size: 14px;
  font-family: var(--lato);
  color: var(--contact-color);
}
#featured_categories .featured_inner {
  padding: 20px 0 18px 0;
  border: 1px solid transparent;
  border-radius: 5px;
}
#featured_categories .featured_inner:hover{
    border-color: var(--bx-shadow);
    box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.05);
}
#featured_categories .fetaured_categories_thum {
  padding: 10px 18px;
  overflow: hidden;
}
#featured_categories .fetaured_categories_thum img{
    transition: var(--t-4s);
}
#featured_categories .fetaured_categories_thum:hover img{
    transform: scale(1.1);
}
.featured_icon_left {
  top: -70px;
  right: 10px;
}
.featured_icon_right {
  top: -70px;
  right: 70px;
}
/* // featured categories section end  */
/*  product section start  */
#product .product_item{
  position: relative;
}
#product .product_content{
  position: absolute;
  left: 50px;
  top: 60px;
}
#product .product_content h3{
  font-size: 24px;
  font-family: var(--quicksand);
  font-weight: 700;
  color: var(--heading-color);
  padding: 0 0 0 0;
  transition: var(--t-4s);
}
#product .product_content a{
  display: inline-block;
  font-size: 12px;
  font-family: var(--quicksand);
  font-weight: 700;
  color: var(--white);
  padding: 7px 16px;
  margin: 30px 0;
  background-color: var(--hlt-color);
  border: 1px solid var(--hlt-color);
  border-radius: 5px;
  transition: var(--t-4s);
}
#product .product_content:hover > h3{
  transform: translateY(-5px);
}
#product .product_content a:hover{
  background-color: var(--a-color);
  border-color: var(--a-color);
}
#product .col-lg-4:nth-child(2) .product_content h3,
#product .col-lg-4:nth-child(3) .product_content h3{
  padding-bottom: 25px;
}
/* // product section end  */
/*  popualr produt section start  */
#popular_products ul.nav.nav-tabs {
  border: none;
} 
#popular_products .popular_size{
  border-radius: 5px;
  width: 20%;
}
#popular_products .popular_item {
  border: 1px solid var(--border-clr);
  position: relative;
  border-radius: 15px;
}
#popular_products .text{
  position: absolute;
  top: 0;
  left: 0;
  background: #F74B81;
  width: 60px;
  height: 30px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 25px;
  color:var(--white);
  text-align: center;
  font-size: 12px;
  font-family: var(--lato);
  padding: 4px 0;
}
#popular_products .text.clr{
  background: var(--t-clr);
}
#popular_products .text.clr1{
  background-color: var(--hlt-color);
}
#popular_products .text.clr2{
  background-color: var(--t-clr2);
}
#popular_products .popular_thumb{
  position: relative;
  
}
#popular_products .popular_thumb img{
  position: relative;
  overflow: hidden;
} 
#popular_products .popular_thumb:hover .main_image{
  opacity: 0;
  visibility: hidden;
}
#popular_products .popular_thumb .hover_image{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: var(--t-4s);
  transform: scale(1);
}
#popular_products .popular_thumb:hover .hover_image{
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

#popular_products .popular_icon{
  position: absolute;
  top: 33%;
  left: 50%;
  background-color:var(--white);
  transform: translate(-50%,-50%);
  z-index: 1;
  opacity: 0;
  visibility: visible;
}
#popular_products .popular_icon ul li{
  display: inline-block;

}
#popular_products .popular_icon ul li a{
  position: relative;
  font-size: 15px;
  color: var(--hlt-color);
  display: inline-block;
  padding: 10px 10px;
}
#popular_products  .popular_item:hover .popular_icon{
  opacity: 1;
  visibility: visible;
}
#popular_products .popular_icon ul li  a span{
  position: absolute;
  display: inline-block;
  top: -50px;
  left: 50%;
  color: var(--white);
  background-color: var(--hlt-color);
  padding: 5px;
  border-radius: 5px;
  transform: translateX(-50%);
  width: 120px;
  opacity: 0;
  visibility: hidden;
}

#popular_products .popular_icon ul li a::after{
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background-color:var(--hlt-color);
  right: 0px;
  top: 15px;
}
#popular_products .popular_icon ul li:nth-child(2) a::after{
  right: 0px;
  top: 15px;
}
#popular_products .popular_icon ul li:hover > a span{
 opacity: 1;
 visibility: visible;
}
#popular_products .popular_icon ul li a span::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background:var(--hlt-color);
  transform: rotate(-45deg);
  left: 50%;
  bottom: -5px;
}
#popular_products .popular_content{
  padding: 0 20px;
}
#popular_products .popular_content h6{
  font-size: 12px;
  font-family: var(--lato);
  color: var(--num-color);
}
#popular_products .popular_content h3 {
  font-size: 16px;
  font-family: var(--quicksand);
  font-weight: 700;
  color: var(--heading-color);
  padding: 10px 3px 10px 0px;
}
#popular_products .rating {
  font-size: 13px;
  color: var(--a-color);
  padding: 0px 0 10px 0;
}
#popular_products p.author {
  padding: 0 0 10px 0;
}
#popular_products .author span,
#popular_products .author a{
  font-size: 14px;
  font-family: var(--lato);
  padding: 0 5px 0 0;
}
#popular_products .author span{
  color: var(--point-color);
}
#popular_products .author a{
  color: var(--hlt-color);
}
#popular_products .price {
  padding: 20px 0;
}
#popular_products .price h4,
#popular_products .price small,
#popular_products .price .buy_link{
  display: inline-block;
}
#popular_products .price h4{
  font-size: 18px;
  font-family: var(--quicksand);
  color: var(--hlt-color);
  padding: 0 10px 0 0;
  width: 20%;
}
#popular_products .price small{
  display: inline-block;
  text-decoration: line-through;
  font-size: 14px;
  font-family: var(--quicksand);
  font-weight: 700;
  color: var(--num-color);
  padding: 0 0px 0 15px;
  width: 20%;
}
#popular_products .price .buy_link{
  width: 55%;
  text-align: right;
}
#popular_products .price a {
  display: inline-block;
  font-size: 14px;
  font-family: var(--lato);
  font-weight: 400;
  color: var(--hlt-color);
  background-color: var(--bg-clr);
  padding: 8px 25px;
  border-radius: 5px;
  transition: var(--t-4s);
}
#popular_products .price:hover a{
  background-color: var(--hlt-color);
  color: var(--white);
} 
/* // popualr produt section end  */
/*  daily best section start  */
.nav_border{
  border: none;
}
#daily_best .daily_best_banner{
  background-image: url(../image/banner/banner-4.png);
  background-position: center;
  background-size: cover;
  height: 524px;
  border-radius: 15px;
}
#daily_best .daily_best_banner{
  padding: 60px 50px;
}
#daily_best .daily_best_banner h3{
  font-size: 40px;
  font-family: var(--quicksand);
  font-weight: 700;
  color: var(--heading-color);
}
#daily_best .daily_best_banner a{
  display: inline-block;;
  font-size: 12px;
  font-family: var(--quicksand);
  font-weight: 700;
  color: var(--white);
  padding: 8px 20px;
  margin: 106px 0;
  background-color: var(--hlt-color);
  transition: var(--t-4s);
}
#daily_best .daily_best_banner a:hover{
  background-color: var(--a-color);
  padding-right: 30px;
}
#daily_best .popular_size{
  border-radius: 5px;
  /* width: 20%; */
}
#daily_best .popular_item {
  border: 1px solid var(--border-clr);
  position: relative;
  border-radius: 15px;
}
#daily_best .text{
  position: absolute;
  top: 0;
  left: 0;
  background: var(--hlt-color);
  width: 80px;
  height: 30px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 25px;
  color:var(--white);
  text-align: center;
  font-size: 12px;
  font-family: var(--lato);
  padding: 4px 0;
}
#daily_best .popular_thumb{
  position: relative;
  
}
#daily_best .popular_thumb img{
  position: relative;
  overflow: hidden;
}
#daily_best .popular_thumb:hover .main_image{
  opacity: 0;
  visibility: hidden;
}
#daily_best .popular_thumb .hover_image{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: var(--t-4s);
  transform: scale(1);
}
#daily_best .popular_thumb:hover .hover_image{
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
#daily_best .popular_icon{
  position: absolute;
  top: 25%;
  left: 50%;
  background-color:var(--white);
  transform: translate(-50%,-50%);
  z-index: 1;
  opacity: 0;
  visibility: visible;
}
#daily_best .popular_icon ul li{
  display: inline-block;

}
#daily_best .popular_icon ul li a{
  position: relative;
  font-size: 15px;
  color: var(--hlt-color);
  display: inline-block;
  padding: 10px 10px;
}
#daily_best .popular_item:hover .popular_icon{
  opacity: 1;
  visibility: visible;
}
#daily_best .popular_icon ul li  a span{
  position: absolute;
  display: inline-block;
  top: -50px;
  left: 50%;
  color: var(--white);
  background-color: var(--hlt-color);
  padding: 5px;
  border-radius: 5px;
  transform: translateX(-50%);
  width: 120px;
  opacity: 0;
  visibility: hidden;
}
#daily_best .popular_icon ul li a::after{
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background-color:var(--hlt-color);
  right: 0px;
  top: 15px;
}
#daily_best .popular_icon ul li:nth-child(2) a::after{
  right: 0px;
  top: 15px;
}
#daily_best  .popular_icon ul li:hover > a span{
  opacity: 1;
  visibility: visible;
 }
 #daily_best .popular_icon ul li a span::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background:var(--hlt-color);
  transform: rotate(-45deg);
  left: 50%;
  bottom: -5px;
}
#daily_best .popular_content{
  padding: 0 20px;
}
#daily_best .popular_content h6{
  font-size: 12px;
  font-family: var(--lato);
  color: var(--num-color);
}
#daily_best .popular_content h3 {
  font-size: 16px;
  font-family: var(--quicksand);
  font-weight: 700;
  color: var(--heading-color);
  padding: 10px 3px 10px 0px;
}
#daily_best .rating {
  font-size: 13px;
  color: var(--a-color);
  padding: 0px 0 10px 0;
}

#daily_best .price {
  padding: 0px 0 0px 0;
}
#daily_best .price h4,
#daily_best .price small{
  display: inline-block;
}
#daily_best .price h4{
  font-size: 18px;
  font-family: var(--quicksand);
  color: var(--hlt-color);
  padding: 0 50px 0 0;
  width: 20%;
}
#daily_best .price small{
  display: inline-block;
  text-decoration: line-through;
  font-size: 14px;
  font-family: var(--quicksand);
  font-weight: 700;
  color: var(--num-color);
  padding: 0 0px 0 15px;
  width: 20%;
}
#daily_best .price p{
  font-size: 13px;
  font-family: var(--lato);
  color: var(--heading-color);
  padding-bottom: 10px;
}
#daily_best .rating_bar {
  width: 100%;
  height: 5px;
  background-color: var(--border-clr);
  margin: 20px 0;
  position: relative;
} 
#daily_best .rating_per{
  position: absolute;
  top: 0;
  left: 0;
  width: 48%;
  height: 5px;
  background-color: var(--hlt-color);
}
#daily_best .buy_link {
  width: 100%;
  text-align: center;
  background: var(--hlt-color);
  margin: 0px 0 20px 0;
  padding: 10px 0;
  border-radius: 5px;
  transition: var(--t-4s);
}
#daily_best .buy_link a {
  display: inline-block;
  font-size: 14px;
  font-family: var(--lato);
  font-weight: 700;
  color: var(--white);
  
}
#daily_best .buy_link:hover{
  background-color: var(--a-color);
  color: var(--white);
} 
/* // daily best section end  */