/* 
    Templete Name:Nest;
    description:Grocery,ecommercy,html templet;
    author name:Dainel;
    version:1.0;
    
    templet of contents
    =========================================
    1)common

*/
/*  common section start  */
:root{
    --quicksand:'Quicksand', sans-serif;
    --lato:'Lato', sans-serif;
    --white:#ffffff;
    --heading-color:#253D4E;
    --hlt-color:#3BB77E;
    --contact-color:#7E7E7E;
    --num-color:#ADADAD;
    --point-color:#B6B6B6;
    --border-color:#dedfe2;
    --light-green:#81B13D;
}
h1,h2,h3,h4,h5,h5,h6,
p,
span,
ul,
ol{
margin:0;
padding:0;
}
a,a:hover{
text-decoration:none;
}
img{
    display: block;
    width: 100%;
}
ul{
    list-style-type: none;
}
.form-control:focus,
.form-select:focus,
.btn:focus{
    box-shadow: none;
}
/* // common section end  */
/*  top-header section start  */
.top_header{
    border-bottom: 1px solid var(--border-color);
}
.top_left_header{
    padding: 0 0;   
}
.top_left_header ul li{
    display:inline-block;
    padding: 10px 20px 10px 0;
    position: relative;
}
.top_left_header ul li::before{
    position: absolute;
    content: '';
    height: 10px;
    width: 1px;
    background-color: var(--border-color);
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
}
.top_left_header ul li:nth-child(3){
    display:inline-block;
    padding: 10px 20px 10px 0;
    position: relative;
    bottom: 10px;
    right: 0;
}

.top_left_header ul li:last-child::before{
    position: absolute;
    content: '';
    height: 10px;
    width: 1px;
    background:none;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
}
.top_left_header ul li a{
    display: inline-block;
    font-size: 13px;
    font-family: var(--lato);
    color: var(--contact-color);
    width: 50px;   
}
.slick_slider{
    font-size: 14px;
    color: var(--contact-color);
    font-family: var(--lato);
}
.top_right_header .dropdown:hover ul.dropdown-menu{
    display: block;
}
.top_right_header > ul > li{
    display: inline-block;
}
.top_right_header ul li span,
.top_right_header ul li a{
    font-size: 13px;
    font-family: var(--lato);
    color: var(--contact-color);
}
.top_right_header >ul >li > span{
    display: inline-block;
    width: 60%;
}
.top_right_header >ul >li > a{
    display: inline-block;
    width: 30%;
}
.top_right_header >ul >li{
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
} 
.top_right_header >ul >li::after{
    position: absolute;
    content: '';
    right: 0;
    bottom: 20px;
    background-color: var(--border-color);
    width: 1px;
    height: 10px;
} 
.top_right_header >ul >li:nth-child(2),
.top_right_header >ul >li:nth-child(3)
{
    position: relative;
    bottom: 15px;
} 
.top_right_header >ul >li:nth-child(2)::after,
.top_right_header >ul >li:nth-child(3)::after{
    bottom: 7px;
}
/* // top-header section end  */
/*  middle  section start  */
.middle_header{
    padding: 32px 0;
    border-bottom: 1px solid var(--border-color);
}
.logo img{
    width: 80%;
}
.form-control,
.form-select{
    border: none;
}
.form-select option{
    font-family: var(--quicksand);
    color: var(--heading-color);
    font-weight: 400;
    font-size: 14px;
}
.search {
    border: 1px solid var(--hlt-color);
    padding: 7px 0;
}
.middle_right_header ul{
    display: flex;
}
.middle_right_header ul li{
    position: relative;
    padding-right: 20px;
}
.middle_right_header ul li a i{
    font-size: 25px;
}
.middle_right_header ul li a span{
    position: absolute;
    border: 1px solid var(--hlt-color);
    background-color: var(--hlt-color);
    color: var(--white);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -10px;
    left: 14px;
    line-height: 15px;
    text-align: center;
}
.middle_right_header ul li a{
    font-size: 16px;
    font-family: var(--lato);
    color: var(--contact-color);
}
/* // middle    section end  */
/*  nav left section start  */
.navbar_menu{
    padding: 25px 0 25px 0;
    border-bottom: 1px solid var(--border-color);
}
.nav_left_section img{
    width: 30px;
    display: inline-block;
}
.nav_left_section ul.dropdown-menu.dropdown_list{
    width: 473px;
    display: flex;
    flex-wrap: wrap; 
    
}
.nav_left_section ul.dropdown-menu.dropdown_list li{
    width: 40%;
    border: 1px solid var(--border-color);
    margin: 20px 20px;
}
.nav_left_section .dropdown_list{
    opacity: 0;
    visibility: hidden; 
}
.nav_left_section .show{
    opacity: 1;
    visibility:visible;
}
.nav_left_section{
    height: 88px;
    width: 234px;
    background-color: var(--hlt-color);
}
.nav_left_section ul.navbar-nav > li > a{
    font-size: 16px;
    color: var(--white);
    font-family: var(--quicksand);
    font-weight: 600;
    background-color: var(--hlt-color);
    padding: 32px  31px;
    display: inline-block;

}
.nav_left_section ul.dropdown-menu.dropdown_list li a{
    font-size: 14px;
    color: var(--heading-color);
    font-family: var(--quicksand);
    font-weight: 600;
    display: inline-block;
    transition: all linear 0.5s;
}
.nav_left_section ul.dropdown-menu.dropdown_list li:hover > a{
    color: var(--hlt-color);
}
.nav_left_section ul.dropdown-menu.dropdown_list li a img{
    margin: 5px 5px 5px 0;
}
/* // nav left section end  */
/*  middle nav section start  */
.middle_navbar > ul > li{
    margin: 0 14px;
    padding: 10px 0;
}
.middle_navbar .nav_item{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 0 40px;
}
.middle_navbar >ul > li > a{
    display: inline-block;
    font-size: 16px;
    color: var(--heading-color);
    font-family: var(--quicksand);
    font-weight: 600;
}
.middle_navbar >ul > li > ul > li > a{
    display: inline-block;
    font-size: 14px;
    color: var(--contact-color);
    font-family: var(--quicksand);
    font-weight: 600; 
}
.middle_navbar >ul > li > ul > li{
    padding: 5px 20px;
} 
.middle_navbar >ul > li > ul > li:nth-child(5){
    width: 200px;
}
.middle_navbar >ul > li:hover ul{
    display: block;
} 
.middle_navbar .mega_menu_area{
    position: static;
}
.middle_navbar .mega_menu{
    width: calc(100% - 24px);
    display: 0;
}
.middle_navbar .mega_menu_area:hover .mega_menu{
    display: block;
}
.mega_menu.dropdown-menu{
    left: 12px;
}
.middle_navbar .mega_menu_area .mega_menu .col-lg-3 h3{
    font-family: var(--quicksand);
    font-size: 18px;
    color: var(--hlt-color);
    padding: 10px 0;
    font-weight: 600;
}
.middle_navbar .mega_menu_area .mega_menu .col-lg-3 ul li a{
    display: inline-block;
    font-size: 14px;
    color: var(--contact-color);
    font-family: var(--quicksand);
    font-weight: 600; 
    padding: 5px 0;
}
.middle_navbar .mega_menu_area .mega_menu .col-lg-3 .mega_menu_thum{
    margin:20px 0;
}
.middle_navbar .mega_menu .mega_menu_content{
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
}
.middle_navbar .mega_menu .mega_menu_content h4{
    font-size: 16px;
    color: var(--heading-color);
    padding: 0 0;
}    
.middle_navbar .mega_menu .mega_menu_content p{
    font-size: 24px;
    color: var(--heading-color);
    padding: 0 0;
}
.middle_navbar .mega_menu .mega_menu_content span{
    display: block;
    font-size: 16px;
    color: var(--light-green);
    padding: 5px 0;
}
.middle_navbar .mega_menu .mega_menu_content a{
    display: block;
    font-size: 16px;
    color: var(--white);
    padding: 5px 5px;
    background-color: var(--hlt-color);
    border: 1px solid var(--hlt-color);
    border-radius: 20px;
    text-align: center ;
}
.middle_navbar ul li > a{
    transition: all linear 0.5s;
}
.middle_navbar ul li:hover > a{
    color: var(--hlt-color);
}
.mega_menu_area .mega_menu .col-lg-3 ul li:hover > a{
    color: var(--hlt-color);
}
/* // middle nav section end  */
/*  nav right section start  */
 
.navbar .nav_right i{
    font-size: 40px;
    display: inline-block;
    padding: 20px 0;
}
.navbar .nav_right a{
    display: inline-block;
    font-size: 26px;
    color:var(--hlt-color);
    font-family: var(--quicksand);
    font-weight: 600;
}
.navbar .nav_right span{
    display:block;
    font-size: 12px;
    font-family: var(--lato);
    color: var(--contact-color);
    margin: 0 45px;
    width: 70px;
}
.navbar_menu{
    border-bottom: 1px solid var(--border-color);
}
/* // nav right section end  */
/*  banner  section start  */
#banner{
    padding: 30px 0;
}
.banner_section .banner_wrapper{
    height: 467px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    z-index: -1;
}
.banner_section .banner_wrapper .banner_content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.arrow_left{
    position: absolute;
    top: 50%;
    left: 1%;
    z-index: 1;
    border: 1px solid var(--border-color);
    background: var(--border-color);
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 37px;
    border-radius: 50%;
    transform: translateY(-50%);
}
.arrow_left:hover,
.arrow_right:hover{
    background: var(--hlt-color);
    color: var(--white);
}
.arrow_right{
    position: absolute;
    top: 50%;
    right: 1%;
    z-index: 1;
    border: 1px solid var(--border-color);
    background: var(--border-color);
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 37px;
    border-radius: 50%;
    transform: translateY(-50%);
}
.banner_section .banner_wrapper .banner_content h1,
.banner_section .banner_wrapper .banner_content h3{
    font-size: 64px;
    font-family: var(--quicksand);
    color: var(--heading-color);
    font-weight: 700;
    padding:  0 0;
}
.banner_section .banner_wrapper .banner_content h3{
    padding: 0 0 25px 0;
}
.banner_section .banner_wrapper .banner_content h2{
    font-size: 30px;
    font-family: var(--lato);
    color: var(--contact-color);
    padding: 0 0 40px 0;
}
.banner_section .banner_wrapper .banner_content .input-group .btn{
   border-radius: 30px; 
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 30px; 
    border-bottom-left-radius: 30px; 
}
.banner_section .banner_wrapper .banner_content .subscribe{
    width: 450px;
}
.banner_section .banner_wrapper .banner_content .input-group .btn{
    background-color: var(--hlt-color);
    color:var(--white);
    padding: 19px 43px;
}
.banner_section .banner_wrapper .banner_content .input-group .form-control{
    border-radius: 30px;

}
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.banner_section .banner_wrapper .banner_content .input-group{
    background: var(--white);
    border-radius: 30px;
}
.banner_section .banner_wrapper .banner_content .input-group .form-control{
    padding-left: 30px;
}
/* // banner  section end  */